h1 {
    color: blue;
    text-align: center;
}
p {
    color: brown;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: lightgray;
}

#top {
    font-size: 36px;
    margin: 30px;
}
#middle {
    font-size: 24px;
    margin: 30px;
}
#bottom {
    font-size: 12px;
    margin: 30px;
}

.name {
    font-weight: bold;
}